.container {
  background-color: #f6f6f6; }
  .container h5 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #008100; }
  .container .card {
    background-color: #e9eaec; }
  .container .card-body {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .container img {
    width: 90px;
    height: 90px;
    border-radius: 45px; }

/*# sourceMappingURL=card.styles.css.map */
