//variables
$colorfuerte: rgb(0, 129, 0);
$colorb: rgb(233, 234, 236);
$colorfondo: #f6f6f6;

//mixin
@mixin letra($fzise) {
    font-size: $fzise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.container{
    background-color: $colorfondo;

    h5{
        @include letra(20px);
        color: $colorfuerte;
    }
    .card{
        background-color: $colorb;
        
    }

    .card-body{
        @include letra(15px);

    }

    img {
        width:90px;
        height:90px;
        border-radius:45px;
    }
}