<div class="container">
    <div class="row">
      <div *ngFor="let dummy of ' '.repeat(prueba).split(''), let x = index">
        <div class="col-12">
          <div class="datos" *ngFor='let user of users'>
            <div class="card mt-4" role="button" tabindex="0">
              <div class="card-body">
                <div class="text-center"> 
                  <img [src]="user.picture.medium">
                <h5>@{{user.login.username}}</h5>
                </div>
                <small><h6>{{ user.name.title }}&nbsp;{{ user.name.first}}&nbsp;{{ user.name.last}}</h6>
                <p class="mb-1">{{ user.email }}</p>
                <p class="mb-1">{{ user.location.state }}&nbsp;#&nbsp;{{ user.location.postcode }}</p>
                <p class="mb-1">{{ user.location.city }},&nbsp;{{ user.location.state }}&nbsp;-&nbsp;{{ user.location.country }}</p>
                </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>