<div class="container mt-6">
    <h3 class="mt-4">Users</h3>
    <div class="input-group mt-6 pt-3">
      <input type="number" [(ngModel)]='inputS' (keyup)='getCard($event)' class="form-control col-md-3">
    </div>
    <hr>
    <app-card></app-card>
</div>
