$colorred: rgb(255, 123, 123);
$colorfuerte: rgb(0, 129, 0);
$colorfondo: #f6f6f6;

.container{
    background-color: $colorfondo;

    h3{
        color: $colorfuerte;
        text-transform: uppercase;
    }
}